@mixin goodie {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: 70%;
  margin: $lem 15%;

  &__title {
    display: flex;
  }

  .button {
    @include button;
    display: inline-flex;
  }
}
