@mixin hero {
  display: flex;
  min-height: 80vh;
  width: 100vw;

  background: url(../images/hero_desktop.jpg) no-repeat center center fixed;
  background-size: cover;

  &__text {
    @include colors(white-on-indigoblue);
    opacity: .9;
    padding: $lem;
    max-width: 28vw;
    margin-bottom: $lem * 2;

    height: calc(100% - #{$lem * 2});
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      display: flex;
      @include text-style(hero);
    }

    .subtitle {
      padding: $lem 0;
    }

    .offer {
      display: flex;
      flex-wrap: no-wrap;

      .button {
        @include button(white-on-indigoblue);
      }
    }
  }
}
