@mixin hero {
  display: flex;
  min-height: 80vh;
  flex-basis: 100vw;

  background: url(../images/hero_desktop.jpg) no-repeat top center fixed;
  background-size: cover;

  &__text {
    background: $lightblue;
    color: $white;
    opacity: .8;
    flex-basis: 33%;

    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      display: flex;
      @include text-style(hero);
      padding: 0 $lem 0 $lem / 2;
    }

    .subtitle {
      padding: $lem;
    }

    .offer {
      display: flex;
      flex-wrap: no-wrap;
      padding: $lem;

      .button {
        @include button(white-on-black, black-on-white);
      }
    }
  }

  @include hero--portrait;
  @include hero--mobile;
}
