@mixin hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  width: 100vw;

  background: url(../images/hero_desktop.jpg) no-repeat center center fixed;
  background-size: cover;

  padding: $lem;


  &__title {
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    max-width: 10em;
    text-shadow: 1px 1px 1px $white;
  }

  &__subtitle {
    padding: $lem 0;
  }

  &__offer {
    @include hero__offer;
  }
}
