@mixin exam-group__layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  padding: $lem 0;

  &__exams {
    width: 100%;
  }

  .exam {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__title,
  .exam__title  {
    width: 25%;
  }

  &__plans,
  .exam__cards {
    display: flex;
    flex-wrap: no-wrap;
    width: 75%;
  }

  .plan,
  .card {
    width: 24%;
    margin-right: 1%;
  }

  @include exam-group__layout--mobile;
}
