@mixin exam-group__layout--mobile {
  @include mobile {
    flex-basis: 100%;
    padding: $lem 0;

    &__title {
      width: 100%;
    }

    &__plans,
    &__exams {
      @include scale(small-1);
    }

    &__plans {
      margin-left: 25%;
      margin-top: $lem / 4;
    }

    &__exams {
      .exam {
        &__cards {
          .card {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
