@mixin features {
  display: flex;
  flex-basis: 100%;

  &__video,
  &__list,
  &__goodies {
    flex-basis: 33%;
  }

  &__video {
    @include features__video;
  }

  &__list {
    @include features__list;
  }

  &__goodies {
    @include features__goodies;
  }

  @include features--portrait;
}
