@mixin header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  &__logo {
    @include figure;
  }

  .menu {
    @include menu;
  }

  &.portrait {
    @include header--portrait;
  }
}
