@mixin header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;

  @include header--portrait;

  &__logo {
    @include figure;
  }

  @include menu;

  // when the mobile menu is opened
  &.opened {
    flex-wrap: wrap;
  }
}
