<header class="header">
  <h3 class="header__title">BoardVitals</h3>

  
  <div class="logo">
  
  
  
  

<figure >
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="BoardVitals">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
  </figcaption>

</a>
</figure>

</div>


  <nav class="menu__trigger">
  <h3>Mobile menu trigger</h3>
  
  <div class="menu__trigger--open active">
  <span class="text">Menu</span>
  <span class="icon">+</span>
</div>

  <div class="menu__trigger--close">
  <span class="text">Close</span>
  <span class="icon">x</span>
</div>

</nav>

<aside class="menu__items">
  <h3>Menu items</h3>
  
  <nav class="offer">
    <h3>Offer</h3>

    
    
  </nav>

  <nav class="links">
    <h3>Links</h3>

    
    
  </nav>

  <nav class="signup">
    <h3>Signup</h3>

    
    
  </nav>
</aside>


</header>
