@mixin header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  &__logo {
    @include figure;
  }

  @include menu;

  // when the mobile menu is opened 
  &.opened {
    flex-wrap: wrap;
  }
}
