@mixin features__list {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    @include text-style(title);
  }

  .ol {
    @include ol;
    max-width: 35em;
    padding: $lem * 2;
  }
}
