@mixin hero--mobile {
  @include mobile {
    &__text {
      opacity: .7;
      flex-basis: 100%;
      justify-content: flex-end;

      .title {
        font-size: 1.33em;
      }

      .subtitle,
      .button {
        padding: $lem $lem / 1.5;
      }
    }
  }
}
