@mixin home__values {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-basis: 100%;
  min-height: 100vh;

  @include landscape {
    flex-wrap: wrap;
  }

  background-image: url("http://www.transparenttextures.com/patterns/always-grey.png");

  .value {
    @include value;
  }

  @include home__values--portrait;
}
