@mixin home__values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  flex-basis: 100%;

  .value {
    @include value;
  }

  @include home__values--portrait;
}
