@mixin menu__items--portrait {
  display: none;
  flex-direction: column;
  flex-basis: 100%;

  &.active {
    display: flex;
  }

  nav {
    display: flex;
    flex-direction: column;

    margin-bottom: $lem;
  }
}
