@mixin menu__items--portrait {
  flex-direction: column;
  flex-basis: 100%;

  display: none;
  opacity: 0;

  @include transition(opacity);

  &.active {
    display: flex;
    opacity: 1;
  }

  nav {
    display: flex;
    flex-direction: column;

    margin-bottom: $lem;
  }
}
