body {
  @include semantic-html5-titles;
  @include reset;
  @include text-style(default);

  display: flex;
  flex-wrap: wrap;

  padding: $lem;

  .header {
    @include header;
  }

  .hero {
    @include hero;
  }

  .home__values {
    @include home__values;
  }

  .home__exams {
    @include home__exams;
  }

  .features {
    @include features;
  }

  .home__testimonials {
    @include home__testimonials;
  }

  .home__goodies {
    @include home__goodies;
  }

  .footer {
    @include footer;
  }
}
