<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>
    
    <header class="header">
  <h3 class="header__title">BoardVitals</h3>

  
  
  <div class="logo">
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/logo_desktop.png, /assets/images/logo_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/logo_laptop.png, /assets/images/logo_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/logo_tablet.png, /assets/images/logo_tablet2x.png 2x">
    <source srcset="/assets/images/logo_mobile.png, /assets/images/logo_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/logo_desktop.png" alt="BoardVitals">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    BoardVitals
  </figcaption>

  
</figure>

</div>


  <nav class="menu__trigger">
  <h3>Mobile menu trigger</h3>
  
  <div class="menu__trigger--open active">
  <span class="text">Menu</span>
  <span class="icon">+</span>
</div>

  <div class="menu__trigger--close">
  <span class="text">Close</span>
  <span class="icon">x</span>
</div>

</nav>

<aside class="menu__items">
  <h3>Menu items</h3>
  
  <nav class="offer">
    <h3>Offer</h3>

    
    
      
      

  
    
  

  


  


  

  

  <a class="link" href="/board-review" title="Board Review">Board Review</a>

    
      
      

  
    
  

  


  


  

  

  <a class="link" href="/moc" title="MOC">MOC</a>

    
      
      

  
    
  

  


  


  

  

  <a class="link" href="/cme" title="CME">CME</a>

    
  </nav>

  <nav class="links">
    <h3>Links</h3>

    
    
      
        

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

      
    
      
        

  
    
  

  


  


  

  

  <a class="link" href="/contact-us" title="Contact us">Contact us</a>

      
    
      
    
      
    
      
    
  </nav>

  <nav class="signup">
    <h3>Signup</h3>

    
    
      <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/register" title="Register">Register</a>

</div>

    
      <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/sign-in" title="Sign in">Sign in</a>

</div>

    
  </nav>
</aside>


</header>


    
    
    
    <section class="hero">
  <h3>Hero</h3>

  <article class="hero__text">
    <h3 class="title">Question Banks for the Medical Specialty Boards</h3>

    <p class="subtitle">Thousands of high quality board review questions</p>

    <nav class="offer">
      <h3>Offer</h3>

      
        
        <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/board-review" title="Board Review">Board Review</a>

</div>

      
        
        <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/moc" title="MOC">MOC</a>

</div>

      
        
        <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/cme" title="CME">CME</a>

</div>

      
    </nav>
  </article>

</section>


    
    <section class="home__values">
  <h3>Values</h3>

  
    
    <article class="value">
  <div class="value__counter"></div>
  
  <h3 class="value__title">Why study with BoardVitals?</h3>

  <div class="value__content">Less prep time. Higher pass rate.</div>
</article>

  
    
    <article class="value">
  <div class="value__counter">1</div>
  
  <h3 class="value__title">Single digital question bank</h3>

  <div class="value__content">&lt;svg/&gt;</div>
</article>

  
    
    <article class="value">
  <div class="value__counter">2</div>
  
  <h3 class="value__title">Access anytime, anywhere</h3>

  <div class="value__content">&lt;svg/&gt;</div>
</article>

  
    
    <article class="value">
  <div class="value__counter">3</div>
  
  <h3 class="value__title">Best questions from publishers, universities, and 150+ Physician contributors</h3>

  <div class="value__content">&lt;svg/&gt;</div>
</article>

  
    
    <article class="value">
  <div class="value__counter">4</div>
  
  <h3 class="value__title">Reduce preparation time by</h3>

  <div class="value__content">-18%</div>
</article>

  
    
    <article class="value">
  <div class="value__counter">5</div>
  
  <h3 class="value__title">Increase your pass rate with</h3>

  <div class="value__content">+8%</div>
</article>

  
</section>


    
    <section class="home__exams">
  <h3 class="title">Exams &amp; pricing</h3>

  
    
    <section class="exam-group">
  <h3 class="exam-group__title">Medical Board Specialties</h3>

  <aside class="exam-group__plans">
  <h3>Plans</h3>

  <div class="plan">Trial</div>
  <div class="plan">1 Month</div>
  <div class="plan">3 Month</div>
  <div class="plan">6 Month</div>
</aside>

  <div class="exam-group__exams">
  
    
      
      <article class="exam">
  <h3 class="exam__title">Cardiology</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">229</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">399</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">Child Neurology</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">229</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">399</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">Child Psychiatry</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">229</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">399</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">Dermatology</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">99</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">229</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">399</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">Child Psychiatry</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">229</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">399</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</div>

</section>

  
    
    <section class="exam-group">
  <h3 class="exam-group__title">Medical Exams</h3>

  <aside class="exam-group__plans">
  <h3>Plans</h3>

  <div class="plan">Trial</div>
  <div class="plan">1 Month</div>
  <div class="plan">3 Month</div>
  <div class="plan">6 Month</div>
</aside>

  <div class="exam-group__exams">
  
    
      
      <article class="exam">
  <h3 class="exam__title">USMLE Step 1</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">59</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">109</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">179</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">USMLE Step 2</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">79</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">199</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">USMLE Step 3</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">79</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">199</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">COMLEX Level 1 </h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">79</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">199</span>
  
</div>

</aside>

  
</div>

</article>

    
  
</div>

</section>

  
    
    <section class="exam-group">
  <h3 class="exam-group__title">Dental Exams</h3>

  <aside class="exam-group__plans">
  <h3>Plans</h3>

  <div class="plan">Trial</div>
  <div class="plan">1 Month</div>
  <div class="plan">3 Month</div>
  <div class="plan">6 Month</div>
</aside>

  <div class="exam-group__exams">
  
    
      
      <article class="exam">
  <h3 class="exam__title">NBDE I</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">69</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">159</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">219</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">NBDE II</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">69</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">159</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">219</span>
  
</div>

</aside>

  
</div>

</article>

    
  
</div>

</section>

  
    
    <section class="exam-group">
  <h3 class="exam-group__title">Nursing Exams</h3>

  <aside class="exam-group__plans">
  <h3>Plans</h3>

  <div class="plan">Trial</div>
  <div class="plan">1 Month</div>
  <div class="plan">3 Month</div>
  <div class="plan">6 Month</div>
</aside>

  <div class="exam-group__exams">
  
    
      
      <article class="exam">
  <h3 class="exam__title">Family Nurse Practitioner</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">79</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">99</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">NCLEX PN</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">39</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">59</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">89</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">NCLEX RN</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">39</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">59</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">89</span>
  
</div>

</aside>

  
</div>

</article>

    
  
</div>

</section>

  
    
    <section class="exam-group">
  <h3 class="exam-group__title">Other Exams</h3>

  <aside class="exam-group__plans">
  <h3>Plans</h3>

  <div class="plan">Trial</div>
  <div class="plan">1 Month</div>
  <div class="plan">3 Month</div>
  <div class="plan">6 Month</div>
</aside>

  <div class="exam-group__exams">
  
    
      
      <article class="exam">
  <h3 class="exam__title">NAPLEX</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">59</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">99</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">149</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">PANCE</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">39</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">59</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">89</span>
  
</div>

</aside>

  
</div>

</article>

    
  
    
      
      <article class="exam">
  <h3 class="exam__title">Surgical Tech</h3>

  <div class="exam__cards">
  
  <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Sign up
  
</div>

  <div class="card__price">
  
    <span class="card__price--free">Free</span>
  
</div>

</aside>


  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">49</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">79</span>
  
</div>

</aside>

  
    <aside class="card">
  <h3>Price card</h3>

  <div class="card__action">
  
    Buy now
  
</div>

  <div class="card__price">
  
    <span class="currency">$</span>
    <span class="card__price--paid">129</span>
  
</div>

</aside>

  
</div>

</article>

    
  
</div>

</section>

  
</section>


    
    
    <section class="home__testimonials">
  <h3 class="title">Testimonials</h3>

  
    
    
    <article class="testimonial">
  <h3 class="testimonial__title">Testimonial</h3>

  <div class="testimonial__text">
  <blockquote class="blockquote">Your test bank is the best test bank I&#39;ve ever used! The questions are great and the answers are very thorough! I am extremely grateful for having access to your test questions! Thank you!</blockquote>
</div>

  <aside class="testimonial__author">
  <h3>Author</h3>

  
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/random-user-1_desktop.jpg, /assets/images/random-user-1_desktop2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/random-user-1_laptop.jpg, /assets/images/random-user-1_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/random-user-1_tablet.jpg, /assets/images/random-user-1_tablet2x.jpg 2x">
    <source srcset="/assets/images/random-user-1_mobile.jpg, /assets/images/random-user-1_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/random-user-1_desktop.jpg" alt="Random User">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Random User
  </figcaption>

  
</figure>


  <div class="container">
    <div class="name">Golnaz Alemi</div>
    <div class="role">MD - Clinical Assistant Professor, Obstetrics and Gynecology</div>
  </div>
</aside>

</article>

  
    
    
    <article class="testimonial">
  <h3 class="testimonial__title">Testimonial</h3>

  <div class="testimonial__text">
  <blockquote class="blockquote">Excellent Resource. Questions created around major Nursing topics are a plus for this review site. The explanations are unmatched; I had more notes from the explanations and better understanding of why a particular choice is the best and correct answer. An excellent resource, I will recommend this to anybody preparing to take Boards</blockquote>
</div>

  <aside class="testimonial__author">
  <h3>Author</h3>

  
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/random-user-2_desktop.jpg, /assets/images/random-user-2_desktop2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/random-user-2_laptop.jpg, /assets/images/random-user-2_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/random-user-2_tablet.jpg, /assets/images/random-user-2_tablet2x.jpg 2x">
    <source srcset="/assets/images/random-user-2_mobile.jpg, /assets/images/random-user-2_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/random-user-2_desktop.jpg" alt="Random User">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Random User
  </figcaption>

  
</figure>


  <div class="container">
    <div class="name">Gabriel Ohiani-Jegede</div>
    <div class="role">Family Nurse Practitioner</div>
  </div>
</aside>

</article>

  
    
    
    <article class="testimonial">
  <h3 class="testimonial__title">Testimonial</h3>

  <div class="testimonial__text">
  <blockquote class="blockquote">Thanks for the response! Just wanted to say the customer service and response to feedback I&#39;ve seen with BoardVitals has been excellent. I can&#39;t imagine how many emails you get from 1000 stressed out residents like me about to take boards, so I appreciate it.</blockquote>
</div>

  <aside class="testimonial__author">
  <h3>Author</h3>

  
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/random-user-3_desktop.jpg, /assets/images/random-user-3_desktop2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/random-user-3_laptop.jpg, /assets/images/random-user-3_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/random-user-3_tablet.jpg, /assets/images/random-user-3_tablet2x.jpg 2x">
    <source srcset="/assets/images/random-user-3_mobile.jpg, /assets/images/random-user-3_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/random-user-3_desktop.jpg" alt="Random User">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Random User
  </figcaption>

  
</figure>


  <div class="container">
    <div class="name">Collier Gladin</div>
    <div class="role">MD - Radiology</div>
  </div>
</aside>

</article>

  
</section>
    

    
    
    <section class="features">
  <h3 class="features__title">Our Offer</h3>

  <article class="features__video">
  <h3 class="title">See Our Demo Video</h3>

  <div class="container">
    <iframe class="video" src="https://player.vimeo.com/video/84089685?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</article>

  <article class="features__list">
  <h3 class="title">Features</h3>

  
  <ol class="ol">
  
    <li>24-hour access from your phone, tablet and computer</li>
  
    <li>The same technologically advanced test interface as USMLE</li>
  
    <li>Ability to create customized practice tests using many options including number or questions, subjects and more</li>
  
    <li>Advanced statistics so you can know where your strengths and weaknesses are Suggested questions based on your performance</li>
  
    <li>Detailed, up-to-date explanations with each answer, with references and links to applicable sources</li>
  
    <li>The very best questions brought together from the leading medical publishers, research institutions, and practicing physicians</li>
  
    <li>'Quick Hit' section highlights the must know questions for the boards</li>
  
</ol>

</article>

  <section class="features__goodies">
  <h3>Goodies</h3>

  
    
    <article class="goodie">
  <h3 class="goodie__title">Guaranteed</h3>

  <div class="goodie__text">Guaranteed Pass</div>

  
  
  <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/sign-up" title="Sign up">Sign up</a>

</div>

</article>

  
    
    <article class="goodie">
  <h3 class="goodie__title">Referrals</h3>

  <div class="goodie__text">Receive a Discount on Your Subscription</div>

  
  
  <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/learn-more" title="Learn more">Learn more</a>

</div>

</article>

  
    
    <article class="goodie">
  <h3 class="goodie__title">Scholarships</h3>

  <div class="goodie__text">Scholarship Opportunities</div>

  
  
  <div class="button">
  
  

  
    
  

  


  


  

  

  <a class="link" href="/learn-more" title="Learn more">Learn more</a>

</div>

</article>

  
</section>

</section>


    
    
    <section class="footer">
  <h3 class="footer__title">Footer</h3>

  
  <aside class="footer__logo">
  <h3>Logo</h3>

  
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/logo_desktop.png, /assets/images/logo_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/logo_laptop.png, /assets/images/logo_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/logo_tablet.png, /assets/images/logo_tablet2x.png 2x">
    <source srcset="/assets/images/logo_mobile.png, /assets/images/logo_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/logo_desktop.png" alt="BoardVitals">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    BoardVitals
  </figcaption>

  
</figure>

</aside>


  
  <article  class="footer__offer">
  <h3 class="title">Exams</h3>

  <ul class="ul">
    
      
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/board-review" title="Board Review">Board Review</a>
</li>
    
      
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/moc" title="MOC">MOC</a>
</li>
    
      
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/cme" title="CME">CME</a>
</li>
    
  </ul>
</article>


  
  <article class="footer__links">
  <h3 class="title">Links</h3>

  <ul class="ul">
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/contact-us" title="Contact us">Contact us</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/help-/-faq" title="Help / FAQ">Help / FAQ</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/blog" title="Blog">Blog</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/terms-and-conditions" title="Terms and conditions">Terms and conditions</a>
</li>
    
  </ul>
</article>


  
  <article class="footer__social">
  <h3 class="title">Social</h3>

  <ul class="ul">
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/https://twitter.com/boardvitals" title="Twitter">Twitter</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/https://www.facebook.com/boardvitals" title="Facebook">Facebook</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/https://plus.google.com/102002855995306255246/posts" title="Google+">Google+</a>
</li>
    
      <li>

  
    
  

  


  


  

  

  <a class="link" href="/http://www.boardvitals.com/blog/" title="Blog">Blog</a>
</li>
    
  </ul>
</article>

</section>

<script src="/assets/scripts/site.min.js"></script>

  </body>
</html>
