@mixin home__exams {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  background: $lightgray;

  .title {
    display: flex;
    align-self: center;
    @include text-style(title);

    margin: $lem 0;
    padding: $lem / 2;
  }

  .exam-group {
    @include exam-group;
  }
}
