@mixin home__exams {
  display: flex;
  flex-direction: column;

  flex-basis: 47.5%;
  @include portrait {
    flex-basis: 100%;
  }

  .title {
    display: flex;
    @include text-style(title);
    margin: $lem 0;
  }

  .exam-group {
    @include exam-group;
  }
}
