@mixin value {
  &__title {
    @include value__title;
    padding: $lem;
  }

  &:nth-of-type(1) {
    background: $orange;
  }

  &:nth-of-type(2) {
    background: $lightblue;
    color: $white;
  }

  &:nth-of-type(3) {
    background: $lightblue;
    color: $white;
  }

  &:nth-of-type(4) {
    background: $blue;
    color: $white;
  }

  &:nth-of-type(5) {
    background: $indigoblue;
    color: $white;
  }

  @include value--portrait;
}
