@mixin value {
  flex-basis: 33%;
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    display: flex;
    max-width: 15em;
    padding: $lem 0;
  }

  &__content {
    @include text-style(hero);
    max-width: 10em;
  }

  &__counter {
    @include circle;
  }
}
